body {
    font-family: 'Open Sans'; font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
  }

h1 {
    font-family: 'Kalam'; font-size: 40px; font-weight: 700;
    margin-top: 0px;
    margin-bottom: 30px;
}

div {
    margin-right: 10px;
}

.myDiv {
    margin-bottom: 20px;
}

#editor {
    display: grid;
    align-content: center;
}
#code {
    width: 100%;
    min-height: 20em;
    font-size: 11px;
    font-family: 'Consolas';
}
Element {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}